@use "../variables.scss" as vars;

window.PowerMenu {
    box.container {
        background: vars.$bg;
        color: vars.$fg;
        padding: 10px 0;
        border-radius: 10px;

        button {
            min-width: 100px;
            min-height: 100px;
            margin: 0 10px;
        }

        button:focus {
            border: 2px solid vars.$green;
            box-shadow: none;
            outline: none;
        }

        button .icon {
            font-family: "Mononoki Nerd Font Mono";
            color: vars.$green;
            font-size: 3rem;
        }
    }
}
