@define-color background #1d2021;
@define-color foreground #ebdbb2;
@define-color focused #3c3836;
@define-color red #fb4934;
@define-color orange #fe8019;
@define-color yellow #fabd2f;
@define-color green #b8bb26;
@define-color purple #d3869b;
@define-color blue #83a598;
@define-color aqua #8ec07c;

* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-family: "Mononoki Nerd Font"; 
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
}

tooltip label {
  color: @foreground;
}

.modules-left {
  margin: 3px 0;
  margin-left: 5px;
  background: @focused;
  border-radius: 100px;
}

.modules-right {
  background: @focused;
  border-radius: 100px;
  padding: 0 15px;
  margin: 3px 0;
  margin-right: 5px;
}


#workspaces {
    padding: 0 8px;
    border-radius: 100px;
    background: @focused;
}

#workspaces button {
    padding: 4px 5px;
    background: transparent;
    color: @foreground;
}

#workspaces button.focused {
    color: darker(@foreground);
}

#mpris {
    padding: 0 12px;
    border-radius: 100px;
    background: @focused;
}

#clock {
    margin: 3px 3px;
    background: @focused;
    color: @aqua;
    padding: 0 12px;
    border-radius: 100px;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#tray {
    margin-left: 20px;
}
/*
#idle_inhibitor,
#pulseaudio,
#network {
    color: @red;
}

#cpu,
#memory,
#temperature {
    color: @green;
}

#backlight,
#keyboard-state,
#battery,
#tray {
    color: @blue;
}

#battery.warning:not(.charging) {
    background: @red;
    color: @foreground;
}
*/
