@define-color background #272822;
@define-color foreground #f8f8f2;
@define-color muted #75715e;
@define-color red #f92672;
@define-color orange #fd971f;
@define-color yellow #f4bf75;
@define-color green  #a6e22e;
@define-color purple #ae81ff;
@define-color blue #66d9ef;

* {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 24px;
}

window#waybar {
    background: @background;
    color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @foreground;
}

tooltip label {
  color: @foreground;
}

.modules-left {
  margin: 3px 0;
  margin-left: 10px;
}

.modules-right {
  margin: 3px 0;
  margin-right: 10px;
}


#workspaces {
}

#workspaces button {
    padding: 0 4px;
    color: @foreground;
}

#workspaces button.focused {
    color: @green;
}

#mpris {
    padding: 0 12px;
    border-radius: 100px;
    background: @focused;
}

#clock {
    margin: 3px 3px;
    color: @blue;
    padding: 0 12px;
    border-radius: 100px;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#keyboard-state,
#battery,
#tray {
}

#battery.critical {
    color: @red;
}

#custom-separator {
  font-weight: bold;
  color: @muted;
  margin: 0 4px;
}


/*
#idle_inhibitor,
#pulseaudio,
#network {
    color: @red;
}

#cpu,
#memory,
#temperature {
    color: @green;
}

#backlight,
#keyboard-state,
#battery,
#tray {
    color: @blue;
}

#battery.warning:not(.charging) {
    background: @red;
    color: @foreground;
}
*/
