@use "./widgets/launcher.scss";
@use "./widgets/bar.scss";
@use "./widgets/calendar.scss";
@use "./widgets/osd.scss";
@use "./widgets/sysmenu.scss";
@use "./widgets/notifications.scss";
@use "./widgets/powermenu.scss";
@use "./variables.scss" as vars;
@use "sass:color";

* {
    font-family: "Mononoki Nerd Font";
}

button {
    background: vars.$base01;
    color: vars.$base05;
    border: none;
}

button:hover {
    background: color.adjust(vars.$base01, $lightness: 10%);
}

button:active {
    background: color.adjust(vars.$base01, $lightness: 20%);
}
