///// PLACEHOLDERS /////
/// these values will be overwritten with the
/// stylix base16 colorscheme once built with
/// home-manager

$bg: #282828;
$bg_accent: #3c3836;
$fg: #fbf1c7;
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$orange: #d65d0e;
